# Python / venv
.venv/
venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd
week-01_intro-to-dlt/.venv/

# OS/editor
.DS_Store
*.swp
*.swo

# Notebooks
.ipynb_checkpoints/

# Env & secrets
.env
.env.*

# Data/artifacts (adjust to your repo)
*.db
*.duckdb
data/
.dlt/
